<table>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td>Ranked: <%= album.rank %></td>
    <td><%= link_to(album.name, album_path(album.id)) %></td>
    <td>
      <%= form_tag albums_upvote_path(album.id), class: "edit_albums", method: :put do %>
        <%= submit_tag "Upvote", class: "upvote_button" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to("View All Media", root_path) %>
<%= link_to("Add an Album", new_album_path) %>
