<h1>
  <%= @album.name %>
  <small>Recorded by: <%= @album.artist %></small>
</h1>

<h4>Ranked: <%= @album.rank %></h4>

<p><%= @album.description %></p>

<%= form_tag albums_upvote_path, class: "edit_albums", method: :put do %>
  <%= submit_tag "Upvote", class: "success hollow button" %>
<% end %>

<%= link_to("Edit " + @album.name, edit_album_path, class: "secondary hollow button") %>
<%= link_to("DELETE", album_path, class: "alert button", method: :delete, data: {confirm: "Are you sure?"}) %>
<%= link_to("View All Albums", albums_path, class: "secondary hollow button") %>
<%= link_to("View All Media", root_path, class: "secondary hollow button") %>
